<html>
    <section id="contact-us" class="container my-5 p-5" style="background-color: #faf0c4;">
        <div class="row align-items-center">
          <!-- Contact Us Form -->
          <div class="col-md-6 p-4">
            <form>
              <h2 class="text-center">Contact Us</h2>
              <div class="mb-3">
                <label for="name" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="name" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" required>
              </div>
              <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" rows="4" required></textarea>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary"
                  style="background-color: #ffec9f; border:#ffec9f">Submit</button>
              </div>
            </form>
          </div>

          <!-- Our Location Section -->
          <div class="col-md-6 p-4 text-center">
            <h4>Our Location</h4>
            <img src="{{ url_for('static', filename='images/locationabove.webp') }}" alt="Services image"
              id="service_img" style="max-width: 100%; border-radius: 8px;">
            <p>Pet Haven Infosys, 12345</p>
            <p>Phone: (123) 456-7890</p>
            <p>Email: support@pethaven.com</p>
          </div>
        </div>
      </section>
</html>