<html>
    <footer class="container-fluid ">
        <div class="container-fluid">
          <div class="row justify-content-between">
            <div class="col-md-3 footer-column">
              <h5>Quick Links</h5>
              <a href="#">Home</a>
              <a href="#">Reviews</a>
              <a href="#">Terms & Conditions</a>
              <a href="#">Privacy Policy</a>
            </div>
            <div class="col-md-3 footer-column p-5">
              <h5>Contact Us</h5>
              <p> Pet Haven </p>
              <p>Infosys, 12345</p>
              <p>Phone: (123) 456-7890</p>
              <p>Email: support@pethaven.com</p>
            </div>
            <div class="col-md-3 footer-column p-2">
              <h5>Follow Us</h5>
              <div class="social-icons">
                <i class="fab fa-facebook-f p-2"></i>
                <i class="fab fa-instagram p-2"></i>
                <i class="fab fa-linkedin p-2"></i>
              </div>
            </div>
          </div>
        </div>
      </footer>
</html>
